
<div class="nonprintable">
  <div>
    <nav class="ui menu mobile hidden">
      <a href="{{ site.baseurl}}/" class="brand item">
        <img class="ui avatar image"
          src="{{ site.data.bio.basics.picture }}"><span>{{ site.data.bio.basics.name }}</span>
      </a>
      {% include menu-items.html %}
    </nav>
  </div>
  <div>
    <nav class="ui menu borderless mobile only">
      <a href="{{ site.baseurl}}/" class="brand item">
        <img class="ui avatar image"
          src="{{ site.data.bio.basics.picture }}"><span>{{ site.data.bio.basics.name }}</span>
      </a>
      <a class="right aligned sidebar item">
        <i class="large sidebar icon"></i>
      </a>
    </nav>
  </div>
</div>